<config><connectionInfo><sesID>444</sesID><sesName>n</sesName><host>localhost</host><user>root</user><password>1123581321ElViNBV</password><schema>pourtest</schema><port>COM6</port><baudrate>9600</baudrate></connectionInfo><connectionInfo><sesID>444</sesID><sesName>n</sesName><host>localhost</host><user>root</user><password>1123581321ElViNBV</password><schema>pourtest</schema><port>COM6</port><baudrate>9600</baudrate></connectionInfo><commands><command name="ins_data">INSERT INTO data(flyID,packetID,flyTime,temp,press,height,humidity,speed,voltage,gpsX,gpsY,gpsZ,co2,no2,nh3,utcTime) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);</command><command name="ins_id">INSERT INTO flights(id,name) VALUES(%s,%s) ON DUPLICATE UPDATE;</command></commands></config>